body {
  background-color: rgb(0, 0, 0);
}

button {
  height: 35px;
  font-size: 1em;
  background-color: rgba(0, 187, 255, 0.597);
  color: whitesmoke;
  border-radius: 5%;
  border: 1px solid black;
  z-index: 1;
  text-align: center;
  margin-left: 25%;
  font-family: "Press Start 2P", cursive;
}

h1 {
  font-family: "Press Start 2P", cursive;
  color: yellow;
  font-size: 10em;
  text-align: center;
}
